@using CaseStudy.ViewModel
@model CustomerAccountViewModel
@{
    ViewData["Title"] = "DisplayAccountAndCustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div {
        background: white;
        background: linear-gradient(to right,#f6ebe6,#aee1f9);
    }
    table, tr, td {
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }

    table, th, td, tr {
        border: 1px solid black;
    }
    p, h1{
        text-align:center;
    }
</style>
<h1> Account And Customer Details</h1>
<table class="table table-active table-striped">
    <tr>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Status</th>
        <th>Balance</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>@Model.Account.AccountID</td>
        <td>@Model.Account.AccountType</td>
        <td>@Model.Account.Status</td>
        <td>$@Model.Account.AccountBalance</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <th>Customer ID</th>
        <th>SSN</th>
        <th>Name</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
    </tr>

    <tr>
        <td>@Model.Customer.CustomerID</td>
        <td>@Model.Customer.SSNID</td>
        <td>@Model.Customer.Name</td>
        <td>@Model.Customer.AddressLine1</td>
        <td>@Model.Customer.AddressLine2</td>
        <td>@Model.Customer.City</td>
        <td>@Model.Customer.State</td>

    </tr>
</table>
<p>@Html.ActionLink("Back", "ViewAccountAndCustomer")</p>

